:root{
    --netflix-red : rgba(229, 9, 20, 1) ;
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    font-family : sans-serif ;
}

#header{
    position:absolute;
    z-index:999999;
    width:100%;
}

#header-div{
    display : flex ; 
    align-items : center ; 
    margin : auto;
}

#netflix-span{
    margin-right : auto ; 
}

#netflix-span path{
    fill : var(--netflix-red);
}

#netflix-svg{
    height : 30px ;
    width : 110px ;
}

#language{
    -webkit-appearance: none;
    -moz-appearance: none;
    height : 32px;
    width : 126px ; 
    padding : 6px 36px;
    background-color: black;
    color: white ;
    border-radius: 0.25rem;
    font-size: 16px ;
}

.icons{
    display : inline-block ;
}

.icons path{
    fill : white ;
}

.icons {
    position : relative ;
    top : 3px ;
}

#globe{
    left:30px;
}

#arrow{
    right:30px;
}

#sign-in{
    display : inline-block ; 
    text-decoration: none;
    color:white ;
    font-size : 14px ;
    height : 32px;
    width : 76.9px ;
    background-color : var(--netflix-red) ;
    border-radius : 0.25rem ;
    padding : 8px 15px ;
    font-weight : 600;


}

#image-div{
    height:100%;
    background-image: url(assets/bg-image.jpg) ;
    background-position: center;
    background-size: cover;
    transform: scale(1.25) translateY(-10%);
    top:0;

}

#gradient{
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0.8) 10%,rgba(0,0,0,0),rgba(0,0,0,0.8) 90%)
}

#text-wrapper-1{

}


@media (min-width: 1280px){
#header-div {
    width: calc( 83.33333333333334% - 6rem );
    height: 5.375rem;

}
}

@media (min-width : 960px){
    #div-1{
        height:43.75rem;
    }
}



@media (min-width: 960px) and (max-width:1280px){
    #header-div {
        height: 5.375rem;
        width: calc(100% - 4rem);
    
    }
}



@media (min-width: 600px) and (max-width:960px){
#header-div{
    width: calc(100% - 4rem);
    height: 5rem ;
    
}

#language-div{
    position:relative ;
    left:15px;
}

#div-1{
    height:32rem;
}
}

@media (max-width : 600px){

#header-div{
    height:5rem;
    width:calc(100% - 3rem);
}    
#language{
    width: 0.0625rem!important ;
}
#language-div{
    position:relative;
    left:15px;
}
.icons{
    top:3px;
}
#globe{
    left:34px;
}
#arrow{
    right:34px;
}

#div-1{
    height:30rem;
}
}